x-extends: &x11  # Create 'x11' aliases that can be referenced using '*x11'
  file: docker/common.yml
  service: x11_base

services:
  compile:
    extends:
      file: docker/common.yml
      service: base
    command: 'colcon build --symlink-install'

  bash:
    extends: *x11
    command: 'bash --rcfile /etc/bash.bashrc'

  adap2e_test:
    extends: *x11
    command: 'ros2 launch adap2e_bringup adap2e_test.launch.py'
    
  campero_test:
    extends: *x11
    command: 'ros2 launch campero_bringup campero_test.launch.py'
    
  ceol_test:
    extends: *x11
    command: 'ros2 launch ceol_bringup ceol_test.launch.py'
    
  cinteo_test:
    extends: *x11
    command: 'ros2 launch cinteo_bringup cinteo_test.launch.py'
  
  hunter_test:
    extends: *x11
    command: 'ros2 launch hunter_bringup hunter_test.launch.py'

  husky_test:
    extends: *x11
    command: 'ros2 launch husky_bringup husky_test.launch.py'
    
  scout_mini_test:
    extends: *x11
    command: 'ros2 launch scout_bringup scout_test.launch.py model:=mini'
    
  robufast_test:
    extends: *x11
    command: 'ros2 launch robucar_bringup robucar_test.launch.py'
